/* Importa fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa&display=swap');

/* Reinicia estilos generales para evitar inconsistencias entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Paleta de colores y sombras definidos como variables para facilitar futuras modificaciones */
:root {
  --nav-bg: #162121;
  --nav-bg-filter: hsla(180, 20%, 11%, 0.9);
  --nav-bg-blur: #16212180;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-yrsa: 'Yrsa', serif;
  --accent-title: #44b6ca;
  --background: #070d0d;
  --foreground: #e4eaec;
  --accent: #44b6ca;
  --input: #bedada;
  --ring: #60c1d2;
  --light-color: #c7d8d9;
  --night: #070d0d;
  --dark-color: #2f3e44;
  --secondary-color: #568281;
  --rich-black-filter: #0a151680;
  --eerie-black-filter: #16222280;
  --shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
  --url-img: url(../img/bg.jpg);
  --border: 16px;
  --gradient: linear-gradient(
    135deg,
    var(--rich-black-filter) 0%,
    var(--eerie-black-filter) 100%
  );
}
/* Estilos generales para el cuerpo del documento */
body {
  font-family: var(--font-yrsa);
  background-color: var(--background);
  color: var(--foreground);
}

/* Estilos para el navbar */
.nav-container {
  background-color: var(--nav-bg);
  position: sticky;
  width: 100%;
}

/* Estilos para el encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2rem;
  width: 100%;
}
/* Estilos cuando el usuario hace scroll */
.nav-container.scrolled {
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 2px solid var(--secondary-color);
  backdrop-filter: blur(5px);
  background-color: var(--nav-bg-blur);
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

/*Estilos para el hover del scroll*/
#scrollToTop:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-title);
}

/* Estilos para el parrafo del encabezado */
.header p {
  font-family: var(--font-quicksand);
  font-size: 1.5rem;
  font-weight: 400;
}

/* Estilos para el navbar */
.nav-desktop {
  width: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Estilos para los enlaces del navbar */
.nav-desktop a {
  list-style: none;
  text-decoration: none;
  color: var(--foreground);
}

/* Estilos en el navbar cuando el usuario hace scroll */
.nav-container.scrolled {
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 2px solid var(--secondary-color);
  backdrop-filter: blur(5px);
  background-color: var(--nav-bg-blur);
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

/* Menu hamburguesa para celulares */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* Estilos para el span del menu hamburguesa */
.hamburger-menu span {
  background-color: var(--foreground);
  height: 0.2rem;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Estilos para el span del hamburger menu cuando el usuario hace scroll */
.nav-mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  backdrop-filter: blur(50px);
  background-color: var(--nav-bg-filter);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-top: 2px solid var(--secondary-color);
}

/* Estilos para los enlaces del navbar */
.nav-mobile a {
  padding: 1rem;
  text-decoration: none;
  color: var(--foreground);
  font-size: 1.2rem;
  text-align: center;
}

/* Estilos para el home */
#home {
  background-image: url('../img/backgroundHome.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Estilos para la imagen de la home */
.inicio-img {
  width: 50%;
}

/* Estilos para la descripción de la home */
.home-description {
  text-align: left;
}

/* Estilos para el titulo de la home */
.home-title {
  margin-bottom: 1.2rem;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 800;
}

/* Estilos para la animación de escritura */
.typewriter {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 800;
  color: var(--accent);
  color: var(--accent-title);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 20ch;
  animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;
}

.text {
  display: inline-block;
}

.cursor {
  border-right: 2px solid var(--accent);
}

/* Estilos para la animación de escritura */
@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--accent);
  }
}

/* Estilos para el parrafo de la home */
.home-paragraph {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.25rem;
  color: #fff;
  text-align: left;
}

/* Estilos para los servicios */
section.services {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  padding: 80px 0;
  text-align: center;
  background-color: #1b263b;
}

/* Estilos para los cards de los servicios */
.service-card {
  background-color: var(--background);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos para las imagenes de los cards de los servicios */
.service-card img {
  width: auto;
  max-width: 50%;
  margin-bottom: 20px;
}

/* Estilos para el texto de los cards de los servicios */
.service-card h2 {
  text-align: center;
  font-family: var(--font-quicksand);
  font-size: 1.7em;
  margin: 15px 0;
}

.service-card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* Estilos para las habilidades */
#skills {
  width: 100%;
  padding: 80px 2rem;
  margin: 0 auto;
  text-align: center;
}

.skills-title {
  margin-bottom: 30px;
  font-size: 2.5em;
  color: var(--accent);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
}

/* Estilos para las categorías de habilidades */
.skill-category {
  background-color: #3a506b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Inicia invisible */
  transform: translateY(50px); /* Inicia desplazado hacia abajo */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Animación de la categoría de habilidades */
.skill-category.visible {
  opacity: 1; /* Se hace visible */
  transform: translateY(0); /* Se coloca en su lugar original */
  animation: fadeInUp 0.5s ease-out forwards; /* Aplicar animación */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-category h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: var(--accent);
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}

.icons img:hover {
  transform: scale(1.2);
}

/* Seccion About */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  padding: 20px;
}

/* Estilos para el contenido de la sección About */
.content {
  max-width: 600px;
  margin: auto;
}

.content :first-child {
  font-size: 3rem;
  font-weight: 300;
}

.content h1 span {
  color: #4db5ff;
}

.content p {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin-right: 10px;
}

.social-links img {
  width: 32px;
  height: 32px;
}

.image {
  width: 50%;
  padding: 0 2.5rem;
}

.image img {
  width: 100%;
  border-radius: 10px;
}

/* Estilo para el formulario de contacto */
#contact {
  font-family: var(--font-quicksand);
  background-image: var(--gradient), var(--url-img);
  background-position: center;
  background-size: cover;
  height: 725px;
  margin-top: 115px;
  padding: 1rem;
  width: 100%;
}

.contact-title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--dark-color);
}

/* Estilos para el formulario */
form {
  background-color: #c7d8d97e;
  border-radius: var(--border);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  padding: 30px 20px 40px;
  width: 400px;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  outline: var(--secondary-color);
}
::placeholder {
  color: var(--secondary-color);
  font-family: var(--font-quicksand);
}

/* Estilos para el boton */
button {
  background-color: var(--dark-color);
  border: none;
  border-radius: 2rem;
  color: var(--light-color);
  cursor: pointer;
  font-size: 1.2rem;
  margin: auto;
  padding: 0.5rem;
  width: 60%;
}

button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Pie de página */
footer {
  font-family: var(--font-quicksand);
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem 0;
  text-align: center;
}

/* Responsividad para celulares y otros dispositivos */
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-mobile.show {
    display: flex;
  }
  #home {
    flex-direction: column;
  }
  .skills-grid {
    grid-template-columns: 1fr;
  }
  .about {
    flex-direction: column;
  }
  .social-links {
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .header {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .nav-desktop {
    margin-top: 1rem;
    width: 90%;
  }

  #home {
    flex-direction: column;
  }
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .about {
    flex-direction: column;
  }
  .social-links {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .header {
    flex-direction: row;
  }
  .nav-desktop {
    width: 50%;
  }

  #home {
    flex-direction: row;
  }
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .about {
    flex-direction: row;
  }
}
