/* General */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Encabezado */
header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

/* Sección de presentación personal */
#about {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}

.perfil-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 1rem;
}

/* Tabla de conocimientos */
#skills {
  padding: 2rem;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 1rem;
  text-align: left;
}

/* Formulario de contacto */
#contact {
  padding: 2rem;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.7rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
